/*CSS Sheet which is linked to the HTML index page**/

/*BODY OF CSS**/
/*Test1**/
body 
{	

	font 15px, 15 Arial, Helvetica, sans-serif;
	padding:0; /*Don't know if this works in Notepad++ since it isn't greyed out???**/
	margin:0;
	background-color:#f4f4f4; /*GREY for the whole page**/
}

/*GLOBAL--------------------------------------**/
.container
{
	width:80%;
	margin:auto; 
	overflow:hidden; 	
}
.button_1 /*Links with Button on HTML*/
{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.dark 
{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*--------------------------------------------**/

/*HEADER**/ 
header
{
	background:#35424a;	/*OLIVISH COLOR**/
	color:#ffffff; /*WHITE**/
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid; /*COLOR, PIXELS, COLORSTYLE**/ 
}

/*HEADER for the links = A Tags**/ 
header a
{
	color:#ffffff; /*WHITE FOR TAGS**/
	text-decoration:none; /*Removes the underline**/ 
	text-transform: uppercase;
	font-size: 16px;
}

/*HEADER for UnOrdered List**/ 
header u1
{
	margin: 0;
	padding:0; /*Default U1 have padding so have to reset it**/ 
}

/*HEADER for List Items**/ 
header li
{
	float: left;
	display: inline;
	padding: 0 20px 0 20px; /*TOP RIGHT BOTTOM LEFT**/ 
	
}

/*Header for ID (which is branding**/ 
header#branding /*# is the symbol for branding items**/ 
{
	float:left;
}

/*HEADER FOR BRANDING H1**/
header#branding h1 
{
	margin:0;
}


/*Header for floating the Nav to the right (A ref Links)**/
header nav
{
	float: right;
	margin-top: 0px;
}

/*Header w/ highlight class and property**/
/*USE HIGHLIGHT FOR H1's and Current for A LIST's**/
/*Current page that your on is highlighted**/
header .highlight, header .current a
{
	color: #e8491d;
	font-weight: bold;
}

/*HEADER for a highlight when you hover over a Header OR A List Items**/
header a:hover
{
	color:#cccccc;
	font-weight:bold;
}

/*Showcase**/
#showcase			/*SHOWCASE MIGHT NOT BE LINKED WITH THE HTML CODE**/
{
	min-height:400px;
	
	/*Since we are in the CSS folder we need to go outside of it so use that in DIRECTROY/CD**/	
	/*Jumps out of the CSS folder into the IMG folder hence the ../ **/
	background:url('https://snipervuk.github.io/ChristianMilicevic/index.html/img/Tuning3.png') no-repeat 0 0; /*X and Y & No repeat will stack the whole page*//
	/*FIND OUT WHY THIS DOESN'T DISPLAY AND LINK BACK LATER*//
	
	text-align:center;
	color:#ffffff;
	font-size:25px;	
}

/*Showcase for the H1 heading**/
#showcase h1
{
	font-size:56px;
	margin-bottom:10px;
	color:#ffffff;
}

/*Paragraph for showcase*//
#showcase p
{
	font-size:10px;
}

/*Newsletter**/
#newsletter
{
	padding:15px;
	color:#ffffff;
	background:#35424a
}

#newsletter h1
{
	float:left;
}

#newsletter form
{
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]
{
	padding:4px;
	height:25px;
	width:250px;	
}

/*Boxes for the different types of page link stuff**/
#boxes
{
	margin-top:20px;
}

#boxes .box
{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img
{
	width:30%;
}

/*Sidebar Stuff*/
aside#sidebar
{
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea
{
	width: 90%;
	padding: 5px;
	
}

/*Main-Col*/
article#main-col
{
	float:left;
	width:65%;
}

/*Portfolio*/
ul#portfolio li
{
	list-style: none;	/*Removes dotes from the style list**/
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer
{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;
	text-align: center;
}

/*Media Queries (Screen size width cal) (using for mobile devices)**/
@media(max-width: 768px) /*This function will only call if the screen is that particular pixel size**/
{
  header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar
  {
   float:none;
   text-align:center;
   width:100%;
  }
  
  header
  {
	padding-bottom: 20px;
  }
  
  #showcase h1
  {
	margin-top:40px;
	
  }
  
  #newsletter button .quote button
  {
	display:bloack;
	width:100%
  }
  
  newsletter form input[type="email"], .quote input, .quote textarea
  {
	width: 100%;
	margin-bottom: 5px;
	
  }
}

 /*Used for Debugging**/
 /*display: none;**/




















